.round-corners (@radius: 5px) {
  border-radius: @radius;
  -moz-border-radius: @radius;
  -webkit-border-radius: @radius;
}

.inset-shadow(@spread: 3px) {
  -webkit-box-shadow: inset 0 0 @spread black;
     -moz-box-shadow: inset 0 0 @spread black;
          box-shadow: inset 0 0 @spread black;
}

.shadow() {
  -webkit-box-shadow: 3px 3px 3px gray;
     -moz-box-shadow: 3px 3px 3px gray;
          box-shadow: 3px 3px 3px gray;
}

.word-break {
  -ms-word-break: break-all;
  word-break: break-all;

  /* Non standard for webkit */
  word-break: break-word;

  -webkit-hyphens: auto;
     -moz-hyphens: auto;
          hyphens: auto;
}

/* allow for full height divs */
html, body { height: 100%; }

div { overflow: hidden; }

body {
  background-color: grey;
  margin: 0;
  background-image:url('/background.jpg');
  background-repeat:repeat;
}

#content {
  position: relative;
  width: 790px;
  background-color: #333333;
  margin-left: auto;
  margin-right: auto;
  min-height: 100%;
  text-align: center;
}
